# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods
~$*
TestResults

deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
StyleCop.Cache
Thumbs.db
~$*
*.log
*.sqlsuo
*.orig
*.sqlsuo
.DS_Store*
xcuserdata/
project.xcworkspace/
build/